/* main */
ul {
	list-style:none;
}

	li {
		float:left;
		margin:10px;
	}

/* tooltip */
.tooltip {
	position:absolute;
	width:250px;
	background-color:#fff;
	box-shadow:0px 0px 15px rgba(0,0,0,0.5);
}

.title {
	background:darkred;
	color:white;
	margin:0px;
	padding:10px;
}

.title + ul {
	background:darkred;
	color:white;
	height:45px;
}

.description {
	padding:0 10px;
}

.stars {
	margin:0 10px;
}

.play {
	background-color:darkred;
	display:block;
	width:90%;
	padding:10px 0;
	color:#fff;
	text-align:center;
	margin:10px auto;
	text-decoration:none;
}