@charset "utf-8";
/* CSS Document */
body, html, h1, h2, h3, h4, p, ul, li, img, a {
	margin:0px;
	padding:0px;
	border:0px;
	list-style:none;
	text-decoration:none;
  }
  
  a { 
    text-decoration:none; color:#093;}
	
#button a {color:#bebd77;}
#button a:visited {color:#bbb;}
#button a:hovor {text-decoration:underline;}
#button a:active{font-size:large; color:#f00;}

 body {
	 /* font-family:"Times New Roman";*/
	  background-image:url("images/bg_body.jpg");
	  background-repeat:repeat-x;
	  background-position:left top; */
	  /*color: #000;*/
  }
  
#nav a {
	display:block;
	width:170px;
	height:70px;
	/*color:#FF3;
	background:#FF9;*/
	
}
/*#nav a:visited{
	color:#ccc;
}*/
#nav a:hover {
	border-bottom-color:#b5ba8d;
	border-left-color:#666;
	border-top-color:#d4d387;
	border-right-color:#858585;
	background:#00C;
	color:#303;
}
 
#wrapper{
	width: 960px;
	height:600px;
	margin-right: auto;
	margin-left: auto;
		}	
#header {
	width:960px;
	height: 60px;
	background-image:url("images/bg_title.png");
	background-repeat:no-repeat;
	background-position:center; 
	/*background-color: #e2dd97;*/
	float:left;
	/*margin-top:25px;*/
      }
#bodywrapper {
	width:960px;
	height:700px;
	background-image:url("images/bg_wrapper.jpg");
	background-repeat:no-repeat;
	background-position:left top;	
		}
#nav {
	/*background-color: #61a5c0;*/
	height: 140px;
	width: 960px;
			}
#nav ul {
	width:627;
}
#nav ul li {
	float:left;
}
/*#nav ul li a{
	display:block;
	width:100px;
	height:20px;
	color:#bebd77;
	background:#FF9;
	text-align:center;
}*/
/*#nav ul li a:visited{
	color:#303;
	background:#ff9;
}*/

#nav ul li {
	float:left;
	margin-top:15px;
	margin-left:40px;
}		
		
#content1 {
		height: 400px;
		width: 270px;
		padding:50px;
		float:left;
		clear:left;
				
			}
#content2 {
		height: 360px;
		width: 200px;
		/*padding:10px;*/
		margin-left:200px;
		margin-top:40px;
		float:left;
		
					}
#banner {
		height: 100px;
		width: 240px;
		margin-left:200px;
		float:left
						}			
#footer  {
	height: 100px;
	width: 960px;
/*	background-color: #61a5c0;*/
	float:left; 
	clear:left;
	background-image:url("images/bg_footer.png");
	background-repeat:no-repeat;
	background-position:top center;
			}
