@font-face {
  font-family: 'Kavoon';
  font-style: normal;
  font-weight: 400;
  src: local('Kavoon Regular'), local('Kavoon-Regular'), url(http://themes.googleusercontent.com/static/fonts/kavoon/v1/otLcdPuBSuTGcS5CqjOs4OvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
